@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Assemblers Parqueaderos</h1>
    <p>Cuidamos su carro un dia a la vez!</p>
</div>
